<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc" 
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:jpa="http://www.springframework.org/schema/data/jpa"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans 
       http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
       http://www.springframework.org/schema/util 
       http://www.springframework.org/schema/util/spring-util-3.0.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context-3.0.xsd
       http://www.springframework.org/schema/tx 
       http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
       http://www.springframework.org/schema/mvc
       http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd
       http://www.springframework.org/schema/data/jpa 
       http://www.springframework.org/schema/data/jpa/spring-jpa.xsd">

    <import resource="springsecurity.xml" />
    
    <mvc:resources mapping="/resources/**" location="/resources/" />
    <mvc:resources mapping="/**" location="/" />
    
    <!-- the datasource -->
    <bean id="dataSource"
          class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="com.mysql.jdbc.Driver" />
        <property name="url" value="jdbc:mysql://localhost:3306/CourseSwitch" />
        <property name="username" value="root" />
        <property name="password" value="" />
    </bean>

    <bean id="entityManagerFactory" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
        <property name="dataSource" ref="dataSource" />
        <property name="jpaVendorAdapter">
            <bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter">
                <property name="generateDdl" value="true" />
                <property name="database" value="MYSQL" />
            </bean>
        </property>
        <property name="packagesToScan" value="edu.mum.courseswitch.domain" />
    </bean>

    <bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager" />
    
    <context:annotation-config />
	
    <jpa:repositories base-package="mum.edu.dao"/>
    
    <bean id="courseService" class="mum.edu.service.CourseService" /> 
    <bean id="blockService" class="mum.edu.service.BlockService" />
    <bean id="preferenceService" class="mum.edu.service.Registration_PreferedCourseService" />
    <bean id="registrationService" class="mum.edu.service.RegistrationService" />
    <bean id="userService" class="mum.edu.service.UserService" />
    <bean id="pendingSwitchService" class="mum.edu.service.PendingCourseSwitchService" />
    <bean id="homeController" class="mum.edu.controller.HomeController" />
    <!--<bean id="customAuthenticationProvider" class="edu.mum.courseswitch.sec.CustomAuthenticationProvider" />-->
    
    <bean class="mum.edu.sec.AuthenticationEventListener" />
</beans>